@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum malesuada nunc vitae tincidunt. Sed nisi enim, tristique at mattis nec, cursus ut ipsum. Sed tristique orci ac ex rhoncus, sed elementum mi vestibulum. In lorem nisl, fermentum id ultrices eu, venenatis sed risus. Cras nec dignissim felis. Donec in nisl non ante mattis ornare. Phasellus a tincidunt dolor, a viverra sem. Vivamus leo justo, pretium eget volutpat et, ultricies eget enim. Pellentesque leo velit, finibus vitae condimentum condimentum, lacinia in dolor. Vivamus aliquam facilisis pellentesque. In massa dui, blandit quis sollicitudin at, interdum quis urna. Fusce blandit vel nunc non sodales. Fusce in aliquet sem. Curabitur vulputate tortor vel metus rutrum vestibulum.<br /><br />

        Quisque elementum nisl nec tortor posuere, a placerat felis volutpat. Duis lacinia egestas arcu non dapibus. Donec in nisl nec diam vestibulum dapibus a eget ex. Aenean ullamcorper ac urna ac scelerisque. Integer scelerisque iaculis sapien. Aenean ac fringilla ligula. In vitae diam cursus, faucibus magna eget, posuere nunc. Cras bibendum nunc ante, vitae cursus metus pharetra a.<br /><br />

        Donec tempus sapien pharetra ligula gravida fringilla. Sed nec rutrum nisl, nec porta metus. Phasellus eget felis tincidunt, pulvinar nunc et, commodo augue. Quisque eget nulla vulputate, rhoncus erat sed, convallis libero. Sed lobortis sem eget purus accumsan porttitor. Mauris elementum velit nec orci euismod porta. Nam risus nisi, tincidunt in malesuada et, vestibulum ut ex. Mauris vitae efficitur nisi, sed pretium risus. Nam a iaculis elit. Praesent sit amet eros turpis. Vestibulum lobortis consequat ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam maximus justo eu quam blandit, cursus condimentum quam iaculis. Praesent sit amet velit dignissim, suscipit nunc vitae, ornare neque.<br /><br />

        Mauris venenatis finibus luctus. Pellentesque tempor orci arcu, ac aliquam justo facilisis nec. Quisque eu laoreet elit. Suspendisse tempor lobortis convallis. Morbi lobortis tellus non magna aliquam, in vestibulum odio finibus. Suspendisse potenti. Vestibulum at sem justo. Nunc at felis nec ante sollicitudin bibendum. Sed facilisis turpis non ipsum commodo, vel tristique lacus rutrum.<br /><br />

        Curabitur tempor finibus sem, in vehicula ex imperdiet a. Vestibulum fringilla iaculis elementum. Sed condimentum sodales varius. Quisque a auctor erat. Mauris egestas lobortis justo, eu blandit tellus. Proin eleifend tincidunt augue, id maximus enim mollis in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id viverra quam, non malesuada massa. Sed facilisis quis libero non placerat. Cras et diam pulvinar, ultrices velit sed, eleifend tortor. Proin auctor elit congue lorem mattis faucibus. Proin mollis vulputate sodales. Ut accumsan sem erat, eu placerat lacus suscipit condimentum. Etiam ultrices rhoncus sollicitudin.<br /><br />
    </p>
</div>
