@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Rhode Island Way<br />
    Rhode Island, MA 02038<br />
    <abbr title="Phone">P:</abbr>
    774-555-5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@ri.com">support@ri.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ri.com">marketing@ri.com</a>
</address>
