@model SE407_Dobachesky.StatusCodeViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page for editing records -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "StatusCode", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewStatusCode.StatusName)
                    @Html.TextBoxFor(Model => Model.NewStatusCode.StatusName, new { @class = "form-control" })
                    <span asp-validation-for="@Model.NewStatusCode.StatusName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-md" />
                    <div class="btn btn-md">@Html.ActionLink("Back to Status Codes", "Index")</div>
                </div>
            }
        </div>
    </div>
</div>
